*{margin: 0; padding: 0;}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(190, 178, 178);    
    display: block;
    
}
.txtmenu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.menu{
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}
.menu li{
    position: relative;
    border-right: 1px solid #c0c0c0;

}
.menu li a{color: #333; text-decoration: none; padding: 5px 10px; display: block;}

.menu li a:hover{
    background: rgb(150, 150, 150);
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}
.menu li ul{
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}
.menu1{
    width: 180px;
    height: 80px;
    margin-top: 79px;
    border: #333;
    float: left;
 
}
.menu2{
    width: 200px;
    padding: 15px;
}
    
.tarja{ 

background: linear-gradient(
  90deg,
  rgb(56, 132, 245) 0%,
  rgb(70, 200, 252) 55%,
  rgba(70, 200, 252) 100%
);
height: 80px;
margin-bottom: 35px;

}
#logo{
    width: 90px;
    margin-left: 640px;
}
.interFace{
    

    display: flex;
    position: absolute;
    top: 17%;
    left: 21%;
    

    width: 300px;
    height: 100px;
    background-color: rgb(70, 200, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid rgb(150, 150, 150);
    background-color: white;
    border-radius: 30px;

   
    justify-content: center;

}

#sifraosaldo{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 150);
    font-size: 1cm;
    padding: 50px;

    padding-right: 1px;
}

#saldoconta{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   font-size: 1cm;
   margin-left: auto;
   font-size: 1cm;
   padding: 50px;
   padding-left: 5%;

    justify-content: center;
  

   
   
   
}
#saldotxt{
    position: absolute;
    color: rgb(150, 150, 150);

}

.botoes{
   
    
    width: 700px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 60%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
   

}

#btnsair{
    float: right;
    width: 43x;
    margin-top: 4px;

    padding: 5px;
}
#imgtarja{
    width: 200px;
    margin: auto;
    display: block;
    text-align: center;
    
    
}
#nomedeuser{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    
}



.btninter{
    width: 700px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#dep{

  border-radius: 30px;
  background: transparent url(/imagens/icones/deposito.png)  no-repeat center top;
  padding: 55px 0 0;
  margin: 0;

  cursor: pointer;
  cursor: hand;
}

#saq{
    border-radius: 30px;
    background: transparent url(/imagens/icones/saque.png)  no-repeat center top;
    padding: 55px 0 0;
    margin: 0;
  
    cursor: pointer;
    cursor: hand;

}
#transf{
    border-radius: 30px;
    background: transparent url(/imagens/icones/Transf.png)  no-repeat center top;
    padding: 55px 0 0;
    margin: 0;
  
    cursor: pointer;
    cursor: hand;

}

#pag{
    border-radius: 30px;
    background: transparent url(/imagens/icones/pagamento1.png)  no-repeat center top;
    padding: 55px 0 0;
    margin: 0;
  
    cursor: pointer;
    cursor: hand;

}
#pix{


    border-radius: 30px;
    background: transparent url(/imagens/icones/pix2.png)  no-repeat center top;
    padding: 55px 0 0;
    margin: 0;
  
    cursor: pointer;
    cursor: hand;
}
.menu2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#errodep{
    color: rgb(150, 150, 150);
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    font-size: medium;
    font-style: italic;
}
.txtdep{
    margin-top: 3%;
    font-size: large;
    margin-left: 4%;
}

.txtdep1{
    margin-left: 4%;
    color: rgb(150, 150, 150);
}
.perfilInfo{
    margin-left: 4%;
    color: rgb(150, 150, 150);
}
#dep1{
    margin-top: 1%;
}
#boletogerado{
    margin-top: 1%;
}
#txtpix{
    font-size: large;
    margin-left: 4%;
}
.txtpix1{
    margin-left: 4%;
    color: rgb(150, 150, 150);
    
    
}
#esccampo{
    color: rgb(150, 150, 150);
}

.perfiluser {
    display: none;
    margin-left: 21%;
    border: 1px solid rgb(150, 150, 150);
    width: 38%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
}
.txtperfil{
    margin-top: 3%;
    font-size: large;
    margin-left: 30%;
}

.pixtransf{
    display: none;
    margin-left: 21%;
    border: 1px solid rgb(150, 150, 150);
    width: 38%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    
    
}
.btnspix{
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 20px;

    
}
.errospix{
    color: rgb(150, 150, 150);
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    font-size: medium;
    font-style: italic;
}



.errosted{
    color: rgb(150, 150, 150);
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    font-size: medium;
    font-style: italic;
}

#btntransf{
    
    border-radius: 30px;
    width: 18%;
    padding: 5px;
    height: 20px;
    left: 50%;
    top: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
    color: #fff;
    background-color: rgb(70, 200, 252);
    border: none;
    height: 35px;
    line-height: 13px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#btnssaq{
    border-radius: 30px;
    display: none;
    margin-left: 21%;
    border: 1px solid rgb(150, 150, 150);
    width: 39%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.saquetxt{
    margin-top: 3%;
    font-size: large;
    margin-left: 4%;
}
#saqueInput{
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 20px;
}
#saqueButton{
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 20px;
}

.deposit{
    border-radius: 30px;
    display: none;
    margin-left: 21%;   
    border: 1px solid rgb(150, 150, 150);
    width: 39%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.btnsdep{
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 20px;
}

.areatransf{
    border-radius: 30px;
    display: none;
    margin-left: 21%;
   
    border: 1px solid rgb(150, 150, 150);
    width: 39%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
.transfbtn{
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 20px;
}

.areapag{
    border-radius: 30px;
    display: none;
    margin-left: 21%;
    border: 1px solid rgb(150, 150, 150);
    width: 39%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.colunaspag{
    padding: 10px;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 20px;

}
.suporte{
    border-radius: 30px;
    display: none;
    margin-left: 21%;
    border: 1px solid rgb(150, 150, 150);
    width: 47%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.suportstyle{
    margin-left: 4%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
 
}
.mesmalinha{
    display:inline;  
}
#btnfaleconosco{
    width: 340px;
    height: 100px;
}


.perfil{
    display: none;
    margin-left: 21%;
    border: 1px solid rgb(150, 150, 150);
    width: 47%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#popupbtn{
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}
.popup-wrapper{
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.popup-wrapper2{
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.popup-wrapper3{
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.popup{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    position: relative;
}
.popup a {
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background-color: crimson;

}
.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;

}

.movimentos{
    display: none;
    margin-left: 21%;
    width: 36%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 
}
.transferencia{
    background: transparent url(/imagens/icones/Transfmov.png)  no-repeat left;
    padding: 25px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 30px;
    width: 120%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.txtmov{
margin-left: 7%;
padding-top: 14px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    margin-top: 30%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
#easteregg{
    width: 2%;

}
#googlemap{

    height: 100%;
    margin-left: 3%;
    margin-bottom: 3%;

    
    }

    /* CHAT NA INTERFACE */
    #qchat{
        text-align: center;
    }
    .float-buttonc {
        position: fixed;
        bottom: 30px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #0078d4;
        color: white;
        font-size: 30px;
        text-align: center;
      }
      .float-buttonc:hover {
        background-color: #106ebe;
      }
      .modalchat {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0,0,0,0.4); 
    }
    
    .modalchat-contentc {
        background-color: #fefefe;
        margin: auto;
        margin-top: 20px;
        /* margin: auto; */
        padding: 20px;
        border: 1px solid #888;
        width: 580px;
        height: 580px;
        border-radius: 16px;
    }
    
    .close-buttonc {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close-buttonc:hover,
    .close-buttonc:focus {
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }


    /* CHAT BOX CONTEUDO */

    .containerchat {
        margin: auto;
        width: 450px;
        height: 500px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
    .headerchat {
  
        background-color: #007bff;
        background: linear-gradient(
      90deg,
      rgb(56, 132, 245) 0%,
      rgb(70, 200, 252) 55%,
      rgba(70, 200, 252) 100%
      );
        color: #fff;
        padding: 15px;
        text-align: center;
        font-size: 20px;
      }
      
      .bodychat {
        flex-grow: 1;
        overflow-y: scroll;
        padding: 10px;
      }
      
      .message {
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 10px;
        margin: 15px 0px;
        margin-bottom: 10px;
        max-width: 70%;
      }
      
      .user_message {
        background-color: #007bff;
        color: #fff;
        margin-left: auto;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        max-width: 70%;
      }
      
      .footerchat {
        padding: 10px;
        border-top: 1px solid #ccc;
      }
      
      form {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      input[type="text"] {
        flex: 1;
        padding: 16px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
      }
      
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 16px;
      }
      
      button:hover {
        background-color: #0056b3;
      }
      .volte{
        position: absolute;
        margin-top: 30%;
        justify-content: center;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(70, 200, 252);
      }
      
      #imgassist{
        float: left;
        margin-right: 5%;
        width: 45px;
      }

      .perfildados{
        color: black;
        margin-left: 4%;
      }

      #cadastrarPixButton{
        
            padding: 10px;
            border-radius: 10px;
            margin-left: 4%;
            margin-bottom: 20px;
            border-color: black;
        
      }
      #cadastraNovaChave{
        padding: 10px;
            border-radius: 10px;
            margin-left: 4%;
            margin-bottom: 20px;
            color: black;
        
      }


      /* .btnsperfil{
        padding: 10px;
        border-radius: 10px;
        margin-left: 4%;
        margin-bottom: 20px;
        border-color: black;
    } */

    input[type="text"] {
        background-color: white; /* Cor de fundo desejada */
        color: #333; /* Cor do texto */
        border: 1px solid #ccc; /* Borda da caixa de entrada */
        border-radius: 5px; /* Borda arredondada */
        padding: 5px; /* Preenchimento interno */
        font-size: 16px; /* Tamanho da fonte */
        outline: none; /* Remove a borda de foco */
    }

    input{
        background-color: white; /* Cor de fundo desejada */
        color: #333; /* Cor do texto */
        border: 1px solid #ccc; /* Borda da caixa de entrada */
        border-radius: 5px; /* Borda arredondada */
        padding: 5px; /* Preenchimento interno */
        font-size: 16px; /* Tamanho da fonte */
        outline: none; /* Remove a borda de foco */
    }
    #entraemail {
    border: 1px solid #ccc; /* Adicione uma borda para a caixa entraemail */
    border-radius: 5px; /* Adicione bordas arredondadas, se desejar */
    /* Outros estilos, se necessário */
}
#buscarInformacoesUsuario{
    color: black;
    border-radius: 5px;
    margin: 4%;
}
